<div class="page-header">
  <h1 class="page-title"><%= content_for :title %></h1>
  <% if content_for?(:actions) %>
    <div class="page-actions">
      <%= content_for :actions %>
    </div>
  <% end %>
</div>
